.cards {
  display: flex;
  justify-content: space-between;
  gap: 20px; 
  flex-direction: column;
}

@media (min-width: 40rem) {

  .cards {
    flex-direction: row;
   
  }
}

@media (min-width: 64rem) {
 .cards {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-y: hidden; 
 }
}